//!*--  VARIABLES  --//
$tema-bordado: #FEE7C8;
$tema-laser: #F1E5E7;
$tema-hotfix: #E2F1E9;
$tema-contacto: #BFF0B0;





//!*--  LISTAS  --//
$colores: black, #412700, white, beige;





//!*--  MAPAS  --//
$acordeon-pf: (
    pf-width: 60%,
    pf-margin-top: 70px,)
;





//!*--  EXTENDS  --//
%titulo-principal {
    font-family: "Pacifico", cursive;
    color: nth($colores, 2);
    padding: 80px;
    font-size: 30px;
    text-align: center;
    text-shadow: 0px 2px 5px beige,
    0px -1px 5px beige,
    1px 0px 5px beige,
    -1px 0px 5px beige;
}



%titulo {
    font-family: "Pacifico", cursive;
    color: nth($colores, 4);
    padding: 30px;
    font-size: 35px;
    text-align: center;
    text-shadow: 0px 2px 0px rgba(0, 0, 0, 1),
    0px -1px 0px rgba(0, 0, 0, 1),
    1px 0px 25px rgba(0, 0, 0, 1),
    -1px 0px 0px rgba(0, 0, 0, 1);
}

@media screen and (max-width:1000px) {
    %titulo-principal {
        padding: 60px;
        font-size: 21px;
    }
    %titulo {
        padding: 20px;
        font-size: 28px;
    }
}

@media screen and (max-width:500px) {
    %titulo-principal {
        padding: 40px;
        font-size: 16px;
        line-height: 30px;
    }
    %titulo {
        padding: 10px;
        font-size: 25px;
    }

}





//!*--  MIXIN  --//

@mixin flex ($flex, $direction, $justify, $align) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}