@media screen and (max-width:1250px) {

    .hero {
        height: 60vh;

        p {
            font-size: 29px;
        }

        h1 {
            a {
                font-size: 20px;
            }
        }
    }

    .servicios {
        .servicios-contenedor {
            height: 60vh;
            @include flex(flex, row, center, center);
        }
    }

    .sobre-nosotros {
        .telas-index {
            div {
                width: 90%;
            }
        }

        .hilos-index {
            div {
                width: 90%;
            }
        }

        .lentejuelas-index {
            div {
                width: 90%;
            }
        }
    }
}






@media screen and (max-width:850px) {

    .sobre-nosotros {
        .telas-index {

            div {
                width: 100%;

                p {
                    width: 100%;

                    font-size: 16px;
                }
            }
        }

        .hilos-index {

            div {
                width: 100%;

                p {
                    width: 100%;
                    font-size: 16px;
                }
            }
        }

        .lentejuelas-index {

            div {
                width: 100%;

                p {
                    width: 100%;

                    font-size: 16px;
                }
            }
        }
    }
}






@media screen and (max-width:700px) {
    .hero {
        height: 75vh;

        p {
            font-size: 22px;
        }

        h1 {
            a {
                font-size: 16px;
            }
        }
    }

    .servicios {
        .servicios-contenedor {
            height: 40vh;
            @include flex(flex, row, center, center);
        }
    }


    .sobre-nosotros {
        padding: 30px;

        .telas-index {
            @include flex(flex, row, center, center);

            div {
                height: auto;
                padding: 20px;
                margin-top: 0px;
                @include flex(flex, column, space-between, center);

                img {
                    width: 100px;
                    height: 100px;
                }

                p {
                    margin: 0px;
                    padding: 0px;
                    padding-top: 10px;
                    font-size: 13px;
                    text-align: center;
                }
            }
        }

        .hilos-index {
            @include flex(flex, row, center, center);

            div {
                height: auto;
                padding: 20px;
                margin-top: 50px;
                @include flex(flex, column-reverse, space-between, center);

                img {
                    width: 100px;
                    height: 100px;
                }

                p {
                    margin: 0px;
                    padding: 0px;
                    padding-top: 10px;
                    font-size: 13px;
                    text-align: center;
                }
            }
        }

        .lentejuelas-index {
            @include flex(flex, row, center, center);

            div {
                height: auto;
                padding: 20px;
                margin-top: 0px;
                @include flex(flex, column, space-between, center);

                img {
                    width: 100px;
                    height: 100px;
                }

                p {
                    margin: 0px;
                    padding: 0px;
                    padding-top: 10px;
                    font-size: 13px;
                    text-align: center;
                }
            }
        }
    }
}






@media screen and (max-width:500px) {

    .hero {
        height: 60vh;

        p {
            font-size: 18px;
        }

        h1 {
            a {
                font-size: 12px;
            }
        }
    }

    .servicios {
        .servicios-contenedor {
            height: 30vh;
            @include flex(flex, row, center, center);

            div {

                button {
                    width: 50%;

                    a {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    .sobre-nosotros {
        padding: 30px;
    }
}