@media screen and (max-width:700px) {
    header {
        a {
            height: 20vh;

            img {
                height: 125px;
                width: 125px;
            }
        }

        nav {
            ul {
                li {
                    a {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:550px) {
    header {
        a {
            height: 14vh;

            img {
                height: 100px;
                width: 100px;
            }
        }

        nav {
            ul {

                li {
                    a {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}








@media screen and (max-width:500px) {
    header {
        z-index: 1;
        @include flex(flex, row, space-between, center);
        flex-wrap: wrap;
        height: 150px;
        position: relative;

        a {
            img {
                margin-left: 30px;
            }
        }

        .label-hamburguesa {
            display: inline-block;
            margin-right: 30px;
            padding: 0px;
            color: #684700;
        }

        nav {
            width: 100%;
            @include flex(flex, row, end, center);

            .menu-hamburguesa:checked+ul {
                height: calc(100vh - 150px)
            }

            ul {
                @include flex(flex, column, start, start);
                overflow: hidden;
                height: 0;
                width: 62%;
                margin: 0px;
                background-color: beige;
                position: absolute;
                top: 150px;

                li {
                    a {
                        font-size: 24px;
                        font-weight: bold;
                        padding: 50px;
                    }
                }
            }
        }
    }
}